asgiref
autopep8
blinker
click
colorama
crispy-bootstrap5
Django
django-crispy-forms
django-environ
EasyProcess
entrypoint2
Flask
itsdangerous
Jinja2
MarkupSafe
MouseInfo
mss
mysqlclient
Pillow
psycopg2
PyAutoGUI
pycodestyle
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
PythonTurtle
pytweening
reportlab
sqlparse
tzdata
Werkzeug
